header {
  background-color: #FF3901;
  height: 85px;
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0;
}

.contenedor {
  display: flex;
  padding: 0;
  margin: 0;
  height: 85px;
  box-sizing: border-box;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.header .logo {
  cursor: pointer;
}

.logo {
  box-sizing: border-box;
  position: relative;
  transform: scale(1.2)
}

.header .logo img {
  height: 40px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .btn button {
  font-weight: 700;
  color: brown;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: #eceff1;
  color: darkgoldenrod;
  transform: scale(1.1);
}

.container-user .fa-user {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  padding-right: 2.5rem;
  border-right: 1px solid #e2e2e2;
}

.infoUsuario span {
  box-sizing: border-box;
  font-size: 13px;
  font-family: 'Lexend', sans-serif;
  width: 100px;
  color: rgb(245, 247, 248);
  font-weight: bold;
}

.infoUsuario {
  box-sizing: border-box;
  display: inline-block;
}

svg {
  cursor: pointer;
}

.icon-close {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}